{{> header}}
<h1>Productos</h1>

<div class="search-and-sort">
    <form id="search-form" action="/products" method="GET">
        <input type="text" name="search" placeholder="Buscar por nombre o categoría..." value="{{search}}">
        <button type="submit">Buscar</button>
    </form>

    <div class="sorting">
        
        <span>Ordenar por precio: </span>
        <a href="/products?sort=asc&limit={{limit}}&search={{search}}">Menor a Mayor</a> |
        <a href="/products?sort=desc&limit={{limit}}&search={{search}}">Mayor a Menor</a>
    </div>

    <div class="limit-selection">
        <label for="limit">Productos por página:</label>
        <select id="limit" name="limit" onchange="changeLimit()">
            <option value="10" {{#if (eq limit 10)}}selected{{/if}}>10</option>
            <option value="20" {{#if (eq limit 20)}}selected{{/if}}>20</option>
            <option value="30" {{#if (eq limit 30)}}selected{{/if}}>30</option>
            <option value="40" {{#if (eq limit 40)}}selected{{/if}}>40</option>
        </select>
    </div>
</div>

<table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td><a href="/api/products/{{this._id}}">{{this.title}}</a></td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
        </tr>
      {{/each}}
    </tbody>
</table>

<div class="pagination">
    {{#if hasPrevPage}}
      <a href="/products?page={{prevPage}}&limit={{limit}}&sort={{sort}}&search={{search}}">Anterior</a>
    {{/if}}
    <span>Página {{currentPage}} de {{totalPages}}</span>
    {{#if hasNextPage}}
      <a href="/products?page={{nextPage}}&limit={{limit}}&sort={{sort}}&search={{search}}">Siguiente</a>
    {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>
<script>
    function changeLimit() {
        const limit = document.getElementById('limit').value;
        const search = document.getElementById('search-form').elements['search'].value;
        window.location.href = `/products?page=1&limit=${limit}&sort={{sort}}&search=${search}`;
    }
</script>
