
<h1>Productos en tiempo real</h1>
<ul id="products-list">
    {{#each products}}
    <li>{{this.title}} - {{this.price}} (Stock: {{this.stock}}) [{{this.category}}] - id: {{this.id}}</li>
    {{/each}}
</ul>


<table>
    <thead>
      <tr>
        <th>Producto</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoria</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td><a href="/api/products/{{this._id}}">{{this.title}}</a></td>
          <td>{{this.price}}</td>
          <td>{{this.stock}}</td>
          <td>{{this.category}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>