<h1>Productos en tiempo real</h1>
<ul id="products-list">
    {{#each products}}
    <li>{{this.title}} - {{this.price}} (Stock: {{this.stock}}) [{{this.category}}] - id: {{this.id}}</li>
    {{/each}}
</ul>

<h2>Añadir Producto</h2>
<form id="add-product-form">
    <input type="text" id="product-title" placeholder="Título" required>
    <input type="text" id="product-description" placeholder="Descripción" required>
    <input type="text" id="product-code" placeholder="Código" required>
    <input type="number" id="product-price" placeholder="Precio" required>
    <input type="number" id="product-stock" placeholder="Stock" required>
    <input type="text" id="product-category" placeholder="Categoría" required>
    <button type="submit">Añadir Producto</button>
</form>

<h2>Eliminar Producto</h2>
<form id="remove-product-form">
    <input type="text" id="remove-product-code" placeholder="Código del producto a eliminar" required>
    <button type="submit">Eliminar Producto</button>
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>